#contact-wrap {
    max-width: 700px;
    border-radius: 6px;
    margin: 0 auto;

    .required-star {
        img {
            opacity: .7;
            height: 8px;
            width: 8px;
            margin-bottom: 0;
            transform: translate(10px, -10px);
        }
    }

    /*---------------------------*/
    .options {
        display: flex;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;

        &__item {
            display: flex;
            align-items: center;
            align-content: center;
            margin-right: 50px;
            margin-bottom: 25px;
            flex-wrap: wrap;
            cursor: pointer;

            label {
                cursor: pointer;
            }
        }

        .icon {
            width: 16px;
            height: 16px;
            background-color: rgba($color: #212529, $alpha: .1);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin-right: 10px;
            transition: bacground .3s ease-in-out;

            svg {
                width: 8px;
                height: 8px;
                * {
                    fill: #fff;
                }
            }
        }

        input[type="checkbox"] {
            appearance: none;
            position: absolute;
            visibility: hidden;
        }

        input:checked + .icon {
            background-color: $blue;
        }
    }

    // target platforms section
    #target-platforms {
        .options {
            &__item {
                
            }
        }
    }
}