#contact-wrap {
    max-width: 700px;
    width: 96%;
    border-radius: 6px;
    margin: 120px auto;
    //box-shadow: 0 0 20px 10px rgba($color: #000000, $alpha: .1);
    padding: 40px 25px;
    border: 1px solid rgba(0,0,0,.1);

    @include md {
        padding: 80px 110px;
    }

    .header {
        .title--sec {
            margin-bottom: 25px;
        }

        .para {
            margin-bottom: 40px;
        }
        border-bottom: 1px solid rgba(#8193AE, .1);

        .cta {
            background: white;
            margin-bottom: -1px;
            a {
                margin: 0 10px;
            }
        }
    }

    .required-star {
        img {
            opacity: .7;
            height: 8px;
            width: 8px;
            margin-bottom: 0;
            transform: translate(10px, -10px);
        }
    }

    .line-item {
        padding: 35px 0;
        border-bottom: 1px solid rgba(#8193AE, .1);
    }

    /*---------------------------*/
    .options {
        display: flex;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;

        &__item {
            display: flex;
            align-items: center;
            align-content: center;
            margin-right: 50px;
            margin-top: 20px;
            flex-wrap: wrap;
            cursor: pointer;

            //@include md {
            //    margin-bottom: 0;
            //}

            label {
                cursor: pointer;
                display: flex;
                align-content: center;
                align-items: center;
            }
        }

        .icon {
            width: 16px;
            height: 16px;
            background-color: rgba($color: #212529, $alpha: .1);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin-right: 10px;
            transition: bacground .3s ease-in-out;

            svg {
                width: 8px;
                height: 8px;
                * {
                    fill: #fff;
                }
            }
        }

        input[type="checkbox"],
        input[type="radio"] {
            appearance: none;
            position: absolute;
            visibility: hidden;
        }

        input:checked + label .icon {
            background-color: $blue;
        }
    }

    #client-budget {
        .options {
            &__item {
                margin-top: 20px;
            }
        }
    }

    // target platforms section
    #target-platforms {
        .heading {
            margin-bottom: 30px;
        }

        .options {
            justify-content: space-evenly;

            @include md {
                justify-content: flex-start;
            }

            &__item {
                width: 140px;
                height: 140px;
                margin: 0 17px 35px 17px;
                background-color: #F8FBFE;
                border-radius: 6px;
             
                @include md {
                    margin-bottom: 0;
                }

                &.active {
                    box-shadow: 0 0 20px 10px rgba($color: #8193AE, $alpha: .1);
                }

                label {
                    display: flex;
                    // flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    text-align: center;
                    flex-wrap: wrap;
                    width: 100%;
                }

                .icon {
                    margin-left: auto;
                }

                .platform-icon {
                    width: 100%;
                    padding-bottom: 10px;
                }
                span {
                    width: 100%;
                    display: block;
                    text-align: center;
                }
            }
        }

        .platform-icon {
            img {
                height: 50px;
                width: auto;
            }
        }
    }



    #extra-fields {
        border-bottom: 0;

        .field {
            margin: 26px 0;

            .heading {
                margin-bottom: 20px;
            }

            input,
            textarea {
                border: 1px solid rgba($color: #D5DDE5, $alpha: .5);
                width: 100%;
                resize: none;
                border-radius: 6px;
                padding: 13px 16px;
                outline: none;
                transition: all .3s ease-in-out;

                &:focus {
                    outline: none;
                    border: 1px solid rgba($color: $blue, $alpha: .9);
                }
            }

            .helper-text {
                opacity: .4;
                font-size: 15px;
                line-height: 1.2;
                margin-top: 20px;
            }
        }
    }
}