.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px 25px;
  color: $text;
  text-decoration: none;
  border: 0;
  background-color: $dark;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: $body-font;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 50px;
  line-height: 1;
  transition: background 0.3s ease-in-out;

  &:hover {
    background-color: $blue;
    color: #fff;
  }

  // responsive styles
  @include lg {
    font-size: 16px;
    padding: 20px 30px;
  }

  svg {
    width: 15px;
    height: 15px;
    margin-left: 15px;
    margin-bottom: -2.5px;
  }

  &--primary {
    background-color: $dark;
    color: #fff;
    transform: scale(1);
    box-shadow: 0 2px 10px 1px rgba($blue, 0);
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $blue;
      color: #fff;
      box-shadow: 0 2px 10px 1px rgba($blue, 0.4);
    }
  }

  &--light {
    background-color: $dark;
    color: #fff;
    transform: scale(1);
    box-shadow: 0 2px 10px 1px rgba($blue, 0);
    transition: all 0.3s ease-in-out;

    svg {
      * {
        stroke: #fff;
      }
    }

    &:hover {
      background-color: $blue;
      color: #fff;
      box-shadow: 0 2px 10px 1px rgba($blue, 0.4);
    }
  }


  //&--dark {
  //  box-shadow: 0 0 20px 10px rgba($color: #3D8BFF, $alpha: .1);
  //  transition: background 0.3s ease-in-out;
  //  background-color: $dark;
  //  color: #fff;
  //
  //  &:hover {
  //    background-color: $blue;
  //    color: #fff;
  //  }
  //}

}
