.tab-wrapper {
    position: relative;

    .tab-nav {
        background: white;
        z-index: 9999;
        box-shadow: 0 4px 4px rgba(0,0,0,.01);
        border-bottom: 1px solid #e2e2e2;

        @include md {
            position: sticky;
            top: 0;
        }

        .container {
            display: flex;
            justify-content: space-between;
        }


        &__item {
            padding: 30px 0;
            color: $dark;
            font-size: 16px;
            border-top: 2px solid transparent;
            &.active {
                border-color: $blue;
            }
        } // item
    } // tab nav
} // tab wrapper



