
input[type="checkbox"] {
  appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 3px;
  border: 2px solid #545454 !important;
  padding: 0 !important;
  cursor: pointer;

  &:checked {
    border-color: $blue !important;
    background-image: url("../images/check.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
  }

  &:focus {
    outline: none;
  }
}

input.form-control,
textarea {
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  border: 1px solid #e2e2e2;
  padding: 12px;
  font-size: 15px;

  &:focus {
    border-color: $blue;
  }
}